.banner {
  height: 450px;

  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 1;
}

.left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 50;
  }
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image {
  object-fit: cover;
}

.texts h1 {
  color: rgb(38, 132, 42);
  letter-spacing: 8px;
}

.texts p {
  color: black;
}

.info-banner {
  height: 500px;

  background: linear-gradient(to bottom, #61a867, #f7f5f5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 1;
}
