.banner {
  height: 400px;

  background-color: rgb(139, 139, 74);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 1;
}

.left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 50;
  }
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.texts {
}
